<div class = "personal-data-container"><h1>Personal Data</h1>
  <%= turbo_frame_tag "first_turbo_frame" do %>
    <%= simple_form_for @employee do |f| %>
      <%= f.input :first_name, placeholder: "First name", input_html: { class: 'first_name margin-bottom' }, required: true %>
      <%= f.input :last_name, placeholder: "Last name", input_html: { class: 'last_name margin-bottom' }, required: true %>
      <%= f.input :nick_name, placeholder: "Nick name", input_html: { class: 'nick_name margin-bottom' } %>
      <%= f.input :email, placeholder: "Email", input_html: { class: 'email margin-bottom' }, required: true %>
      <%= f.input :phone, placeholder: "Phone", input_html: { class: 'phone margin-bottom' }, required: true %>
      <div class = "btn-center">
        <%= f.button :button, 'Save', type: :submit, :class => 'save-btn' %>
        <%= f.button :button, 'Cancel', type: :reset, :class => 'cancel-btn' %>
      </div>
    <% end %>
  <% end %>
</div>